body{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;
}

.container{
	margin: 0 auto;
}

.header{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 900px;
    width: 1920px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/main.png);
}

.menu{
    padding-top: 40px;
    margin-left: 952px;
}

.menubtn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
}

.hr1{
    border: 1px solid #A1A1A1;
    margin-top: 40px;
    opacity: 0.5;
}

.headerp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 219px;
}

.headerh{
    width: 829px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 545px;
    text-align: center;
}

.headerbtn{
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 860px;
    margin-top: 50px;
    border-width: 0px;
}

.servh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
    margin-top: 110px;
    text-align: center;
}

.servp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 50px;
}

.servitems{
    display: flex;
    margin-top: 70px;
}

.itemh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 226px;
    margin-left: 127px;
}

.itemp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    width: 222px;
    margin-left: 128px;
}

.servitem{
    width: 353px;
    margin-right: 27px;
    background: url('../img/project.png') no-repeat left center;
}

.servitem1{
    margin-left: 405px;
}

.us{
    background: #F6F6F8;
    margin-top: 105px;
}

.blockus{
    display: flex;
}

.textus{
    margin-top: 152px;
    margin-left: 405px;
}

.ush{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
}

.usp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-top: 40px;
}

.usa{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
    margin-top: 30px;
}

.usimg{
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 121px;
}

.hr2{
    border: 1px solid #E0E0E0;
    width: 1110px;
    margin-left: 405px;
    margin-top: 90px;
}

.nums{
    display: flex;
    margin-left: 500px;
}

.num{
    width: 104px;
    margin-right: 100px;
    margin-top: 70px; 
    margin-bottom: 70px;
}

.numn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-align: right;
    color: #000000;
    margin: 0;
    background: url(../img/web-programming.png) no-repeat left center;
}

.nump{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    width: 100px;
    margin-top: 17px;
}

.servis{
    width: 1920px;
    height: 887px;
    padding-top: 100px;
    background: linear-gradient(to bottom, #504dc2 0%,#5f12d0 50%,#ffffff 51%,#ffffff 100%);
}

.sf{
    display: flex;
}

.sh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    margin-left: 405px;
}

.sbtn{
    margin-left: 370px;
    border-width: 0px;
    margin-top: 20px;
}

.headerbtn:hover{
    background: #3765c0;
}

.headerbtn:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

.sitems{
    display: flex;
    margin-top: 70px;
    margin-left: 405px;
}

.sitem{
    margin-right: 30px;
}

.sip{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: black;
    margin-top: 30px;
}

.spanp{
    color: #4985FF;
}

.sipp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-top: 30px;
}

.sia{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.hr3{
    border: 1px solid #E0E0E0;
    width: 1110px;
    margin-top: 85px;
    margin-left: 405px;
}

.pr{
    height: 776px;
    margin-top: 85px;
}

.prh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
}

.prp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 50px;
}

.prd{
    margin-top: 70px;
    margin-left: 405px;
}

.pri{
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 30px;
}

.prbtn{
    margin-top: 63px;
}

.vid{
    padding-top: 70px;
    height: 735px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../img/Rectangle4.png) no-repeat;
}

.vh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.vp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.video{
    margin-left: 475px;
    margin-top: 70px;
}

div#tekst_sverhu_kartinki {
    position: relative;
}

.tekst_sverhu_kartinki {
    position: absolute;
    top: 50%;
    color: white;
    padding: 10px;
    margin-left: 850px;
}

.vidp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    display: flex;
}

.vidi{
    margin-right: 21px;
}

.hr3{
    border: 1px solid #E0E0E0;
    margin-left: 405px;
    margin-top: 85px;
}

.sub{
    width: 730px;
    margin-left: 595px;
    margin-top: 85px;
    margin-bottom: 85px;
}

.subh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.subp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 20px;
}

form{
    display: flex;
    vertical-align: top;
    position: relative;
}

input[type="email"]{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    margin-left: 120px;
    margin-top: 30px;
    outline: none;
    padding: 5px 100px 5px 30px;
    display: block;
    width: 489px;
    height: 45px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

button[type="submit"]{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 190px;
    height: 45px;
    z-index: 9;
    outline: none;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    margin-top: 30px;
    margin-left: 419px;
}

button[type="submit"]:hover{
    background: #3c6fd3;
}

.subpp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    margin-top: 35px;
}

.footer{
    height: 413px;
    background-color: #F6F6F8;
    padding-top: 70px;
    padding-left: 405px;
}

.footf{
    display: flex;
}

.fh{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 35px;
    width: 242px;
    margin-right: 43px;
}

.fp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin-bottom: 30px;
}

.fp1{
    padding-left: 20px;
    background: url(../img/Vector2.png) no-repeat left center;
}

.fp2{
    padding-left: 30px;
    background: url(../img/1.png) no-repeat left center;
}

.fp3{
    padding-left: 30px;
    background: url(../img/2.png) no-repeat left center;
}

.fp4{
    padding-left: 30px;
    background: url(../img/3.png) no-repeat left center;
}

.hr4{
    border: 1px solid #E0E0E0;
    width: 1110px;
    margin-top: 40px;
    margin-left: 0;
}

.footp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    margin-top: 30px;
    position: absolute;
    margin-left: 362px;
}