body{
	background-color: #0d1117;
	color: #fff;
}
body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #000;
}
body::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border: 2px solid #000;
}

a {
	text-decoration: none;
}

#content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

p {
	color: #fff;
	font-size: 18px;
	font-family: monospace;
}

.typewriter p {
	overflow: hidden;
	border-right: .15em solid red;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 3.5s steps(30, end),
		blink-caret .5s step-end infinite;
}
  
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}
  
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: red}
}

.stack-card{
	max-width: 50%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stack-card img{
	margin-bottom: 10px;
}

.stats-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolioLinks{
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 18px;
	margin-bottom: 7px;
}
